.a-btn {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    position: relative;
}

.a-btn:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

.mask-lnk {
    width: 100%;
    display: block;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transition: opacity .7s cubic-bezier(.165, .85, .45, 1), color .7s cubic-bezier(.165, .85, .45, 1), transform .7s cubic-bezier(.165, .85, .45, 1);
    transition: opacity .7s cubic-bezier(.165, .85, .45, 1), color .7s cubic-bezier(.165, .85, .45, 1), transform .7s cubic-bezier(.165, .85, .45, 1);
}

.mask-lnk-hover {
    position: absolute;
    opacity: 0;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transition: opacity .7s cubic-bezier(.165, .85, .45, 1), color .7s cubic-bezier(.165, .85, .45, 1), transform .7s cubic-bezier(.165, .85, .45, 1);
    transition: opacity .7s cubic-bezier(.165, .85, .45, 1), color .7s cubic-bezier(.165, .85, .45, 1), transform .7s cubic-bezier(.165, .85, .45, 1);
}

.a-btn:hover .mask-lnk-hover {
    opacity: 1;
    transform: translateY(-24px);
    -webkit-transform: translateY(-24px);
    -moz-transform: translateY(-24px);
    -o-transform: translateY(-24px);
}

.a-btn:hover .mask-lnk {
    opacity: 0;
    transform: translateY(-32px);
}