.center {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

@media(min-width: 768px) {
    .monitor {
        width: 400px;
        height: 230px;
    }
    .monitor-background {
        width: 380px;
        height: 190px;
    }
    .monitor-background:before {
        content: '';
        width: 380px;
        height:10px;
    }
    .monitor p {
        font-size: 1.3em;
    }
}

@media(max-width:768px) {
    .monitor {
        width: 350px;
        height: 200px;
    }
    .monitor-background {
        width: 330px;
        height: 160px;
    }
    .monitor-background:before {
        width: 330px;
        height: 10px;
    }
}

.monitor {
    /* width:350px; */
    /* height: 200px; */
    border-bottom: 30px solid #d8d8d8;
    background: #000;
    border-radius: 10px;
    transition: all .7s cubic-bezier(.165, .85, .45, 1);
    -moz-transition: all .7s cubic-bezier(.165, .85, .45, 1);
    -webkit-transition: all .7s cubic-bezier(.165, .85, .45, 1);
}

.monitor-background {
    /* display: block; */
    margin-left: 10px;
    background-color: #111;
    /* width: 330px; */
    /* height:160px; */
    font-family: monospace;
}

.monitor-background:before {
    content: '';
    /* width: 330px;
    height: 10px; */
    background: #000;
    position: absolute;
}

.monitor:before {
    content: '';
    width: 70px;
    height: 60px;
    background: #bdbdbd;
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: perspective(100px) translateX(-50%) rotateX(25deg) skewX(8deg);
    z-index: -1;
    transform-origin: bottom;
}

.monitor:after {
    content: '';
    width: 140px;
    height: 15px;
    background: #d8d8d8;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    z-index: -1;
    transform-origin: bottom;
}

.text-green {
    color: #00cf00
}

.text-yellow {
    color: #FEFF49;
}